
<div class="container-fluid">
    <div class="row">
      
        <div class="col-3 card1" [routerLink]="product._id" *ngFor="let product of prodArr">
         <div class="">
           <div clas="card h-100 border-0">
              <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="imgContainer text-center">
                            <img 
                                (mouseenter)="isImg = product"
                                (mouseleave)="isImg = null"
                                [src]="isImg === product ? product.images[1] : product.images[0]" [alt]="product" [title]="product">
                                
                            
                        </div>
                        <div class="hoverButton">
                            <button
                              
                              mat-mini-fab
                              color="primary"
                              matTooltip="Add to Bag"
                              matTooltipPosition="left"
                            > 
                              <mat-icon class="icon">shopping_bag</mat-icon>
                            </button>
                            <button
                              mat-mini-fab
                              color="primary"
                              matTooltip="View Details"
                              matTooltipPosition="left"
                            >
                              <mat-icon>visibility</mat-icon>
                            </button>
                            <button
                              (click)="visibilility($event)"
                              [ngClass]="{
                                liking: isLike
                              }"
                              mat-mini-fab
                              color="primary"
                              matTooltip="Add to Favorites"
                              matTooltipPosition="left"
                            >
                              <mat-icon>favorite</mat-icon>
                            </button>
                            <button
                              mat-mini-fab
                              color="primary"
                              matTooltip="Shuffle"
                              matTooltipPosition="left"
                            >
                              <mat-icon>shuffle</mat-icon>
                            </button>
                          </div>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <h5 class="category mt-4">{{product.category}}</h5>
                        <h4 class="mb-2 title text-primary">{{product.title}}</h4>
                        <h2 class=" price text-dark mt-0">
                            <small>{{product.total_price}}</small>
                        </h2>
                        <!--<button (click)="onProductload()" class="btn btn-info">Go to product</button>-->
                    </div>
                </div>
                
              </div>
           </div>
         </div> 
        </div>
    </div>
</div>