
.envato{
    padding:20px;
}
.envato .btn{
    position : fixed;
    top:20px;
    right:20px;
    width: 90px;

}
.conatiner .onsus{
    position: fixed;
    left : 100px;
    top:80px;
}
.container .navBar{
    position: fixed;
    left:100px;
    top:80px;
    
}
.heading1{
    font-weight: 500;
    color:#333
}