
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-12">
            <div class="envato">
                <img height="25" src="https://public-assets.envato-static.com/assets/logos/envato_market-dd390ae860330996644c1c109912d2bf63885fc075b87215ace9b5b4bdc71cc8.svg" alt="envato-static" title="envato-static">
                 <div class="text-right mt-0">
                    <button class="btn btn-sm btn-success">Buy Now</button>
                 </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-7 mt-4 d-flex align-items-center">
            <img src="https://onsus.vercel.app/images/logo/logo.svg" alt="onsus" title="onsus">
            <nav class="navbar navbar-light navBar">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  
                </form>
            </nav>
        </div>
    </div>
</div>





